:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #18456e;
  background-color: #f4f4f4;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

header {
  height: 15vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

hr {
  border: 3px solid var(--primary-color);
  margin-bottom: 16px;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  height: fit-content;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #18456e;
}
button:hover {
  filter: brightness(1.2);
}

button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

input[type=date]::-webkit-calendar-picker-indicator {
  font-size: 18px;
  color: #18456e !important; 
  filter: invert(0.9);
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}